
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/StoreStyles/QuestionaryStyle.css">
}


<h1>Your result is @ViewBag.Result</h1>
<h1>Thank you for participation!</h1>